<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{url_for('static',filename='main.css')}}">
  <title>My PC</title>
</head>

<body onload="stateCheck()" class="container">
  <div class="navbar">
    <nav>
      <ul>
        <li><a href="{{ url_for('my_view.index')}}">PC Overview</a></li>
        <li><a href="{{ url_for('my_view.cpu')}}">CPU</a></li>
        <li><a href="{{ url_for('my_view.gpu')}}">GPU</a></li>
        <li><a href="{{ url_for('my_view.cooling')}}">Cooling</a></li>
        <li><a href="{{ url_for('my_view.rspa')}}">RAM, Storage, Power & Accessories</a></li>
      </ul>
      </nav>
  </div>
  </div>

  {% block content %}
  {% endblock %}
  <script src="/static/lava.js"></script>
</body>

</html>